[submodule "gir"]
	path = gir
	url = https://github.com/gtk-rs/gir
	update = none
[submodule "gir-files"]
	path = gir-files
	url = https://github.com/gtk-rs/gir-files
	update = none
[submodule "gtk"]
	path = gtk
	url = https://github.com/joelvaneenwyk/gtk.git
	branch = main
